.dialog-loading{
  background-color: #ffffff;height: 100%;width: 100%;position: absolute;top: 0px;bottom: 0px;z-index: 3;border-radius: 30px;/* padding: 0; */
}

.main-loading{
  background-color: #e7ebf2;height: 100%;width: 100%;position: absolute;top: 0px;bottom: 0px;z-index: 3;
}

.main-spinner{
  position: fixed;
  top: calc(50vh - 1.5rem);
}

.right-spinner{
  right: calc((50vw - 125px) - 1.5rem);
}

.left-spinner{
  left: calc((50vw - 125px) - 1.5rem);
}

@media (max-width: 768px) {

  .main-spinner{
    position: fixed;
    top: calc(50vh - 1.5rem);
  }
  .right-spinner{
    right: calc((50vw) - 1.5rem);
  }

  .left-spinner{
    left: calc((50vw) - 1.5rem);
  }

}

span{
  font-size: 20px;
}


